img {
  width: 200px;
  height:200px;
}
body {
  background-color: LemonChiffon;
  
}
p {
  color: red;
  text-color: yellow;
  font-size: 100px;
}
#banner {
  font-size: 50px;
}
.nlp {
  border-stlye: 1px black dashed;
}
